p {
  margin: unset;
}

.banner {
  margin-top: 90px;
  height: 60px;
  margin-bottom: 90px;
}

.forgot-password {
  font-size: 14px;
  font-family: "Lato-Bold";
  text-align: right;
  color: #5166eb;
}
